h1 {
    color:Black;
}

body {
  
 /* For browsers that do not support gradients */
  background-image: linear-gradient(to right,black, gold);
     background-repeat: repeat;
    color:black;  
    
     font:italic bold 12px/30px Georgia, serif;
    font-size: 25px;
    text-align: center;
    background-repeat: repeat;
}   

#submit {
    font-size: 20px;
    border-radius: 12px;
    background-color: black;
    color: goldenrod;
    border: 2px solid #4f4f4f ;
    -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
    }

#submit:hover {
    background-color: goldenrod;
  color: black;
    cursor: pointer;
}



select {
    width: 25.7%;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    box-shadow: 0 0 5px black;
    border: 2px solid black;
    color: black;
    font-size: 16px;
}
   
button {
    font-size: 20px;
    border-radius: 12px;
    background-color: black;
    color: goldenrod;
    border: 2px solid #4f4f4f ;
    -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
    cursor: pointer;
    }

button:hover {
  background-color: white; 
  color: white;
    cursor: pointer;
}


input[type=text] {
    width: 25.7%;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 8px;
    box-shadow: 0 0 5px black;
    border: 2px solid #4f4f4f;
    color: #4f4f4f;
    font-size: 16px;
}

img {
    margin: auto;
    width: 50%;
   
    float: none;
    }

.center {
    margin: auto;
  width: 50%;
  
  padding: 10px;
}

#answer:hover {
    background-color: goldenrod; 
  color: black;
    cursor: pointer;
}


